<footer>
    <div class="footer-section">
        <div class="footer-left">
            <img (click)="scrollToSection('hero')" src="assets/img/logo.png" alt="">
            
            <div class="link-wrapper">
                <a href="">{{ 'FOOTER.LEGAL' | translate }}</a>
                <div class="underline"></div>
            </div>
        </div>
        
        <p>© Bedirhan Soylu 2025</p>
    
        <div class="footer-right">
            <img src="assets/img/hero/github.png" alt="">
            <img src="assets/img/hero/email.png" alt="">
            <img src="assets/img/hero/linkedin.png" alt="">
        </div>
    </div>
</footer>
