<div class="about-me-section">
    <div class="about-me-info-container">
      <h1>{{ 'NAV.ABOUT' | translate }}</h1>
  
      <p>{{ 'ABOUTME.DESCRIPTION' | translate }}</p>
  
      <div>
        <div>
          <div class="images-container">
            <img src="assets/img/aboutme/location.png" alt="">
          </div>
          <p>{{ 'ABOUTME.LOCATION' | translate }}</p>
        </div>
  
        <div>
          <div class="images-container">
            <img src="assets/img/aboutme/mind.png" alt="">
          </div>
          <p>{{ 'ABOUTME.LEARNING' | translate }}</p>
        </div>
  
        <div>
          <div class="images-container">
            <img src="assets/img/aboutme/solution.png" alt="">
          </div>
          <p>{{ 'ABOUTME.SOLUTIONS' | translate }}</p>
        </div>
      </div>
    </div>
  
    <div class="selfie-container">
      <div class="selfie">
        <img class="selfie-img" src="assets/img/aboutme/me.png" alt="">
        <div class="green-circle"></div>
      </div>
      <div class="green-line"></div>
    </div>
  
    <img class="shadow" src="assets/img/aboutme/shadow.png" alt="">
  </div>
  