.about-me-section {
    max-width: 1920px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-top: 88px;
    position: relative;
}

.about-me-info-container {
    width: 471px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 3;

    >div {
        display: flex;
        flex-direction: column;
        gap: 24px;

        >div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 24px;
        }
    }
}

.images-container {
    max-width: 32px;
    width: 100%;
    height: 32px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 89px;
    font-weight: 700;
    line-height: 120%;
}

p {
    line-height: 120%;
}

.selfie-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
}

.selfie {
    background-color: #141D2F;
    width: 453px;
    height: 453px;
    position: relative;
    border-radius: 50%;
}

.green-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(112, 230, 28, 1);
    border-radius: 50%;
}

.selfie-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 50%;
}

.green-line {
    width: 267px;
    border: 2px solid rgba(112, 230, 28, 1)
}

.shadow {
    position: absolute;
    right: -440px;
    top: -256px;
    z-index: 2;
}

:host {
  scroll-margin-top: 80px;
}

@media (max-width: 1380px) {
    .green-line {
        width: 112px;
    }
}

@media (max-width: 1260px) {
    .about-me-section {
        padding-left: 48px;
    }
}

@media (max-width: 1200px) {
    .selfie {
        width: 368px;
        height: 368px;
    }
}

@media (max-width: 1070px) {
    h1 {
        font-size: 72px;
    }

    .about-me-info-container {
        width: 400px;
    }
    
    .about-me-section {
        padding-top: 48px;
    }
}

@media (max-width: 980px) {
    .selfie-container {
        display: none;
    }

    .about-me-info-container {
        width: 520px;
    }
}

@media (max-width: 700px) {
    .shadow {
        width: 572px;
        right: -365px;
        top: -120px;
    }
}

@media (max-width: 667px) {
    .about-me-section {
        padding-left: 24px;
        padding-right: 24px;
        justify-content: center;
    }
}

@media (max-width: 424px) {
    h1 {
        font-size: 45px;
    }

    .about-me-section {
        padding-top: 24px;
    }

    .shadow {
        height: 593px;
        top: -150px;
    }

    .about-me-info-container {
        gap: 24px;

        >p {
            padding-top: 8px;
            padding-right: 24px;
        }

        >div {

            >div {
                gap: 16px;
            }
        }
    }
}

@media (max-width: 390px) {
    .shadow {
        height: unset;
    }

    h1 {
        font-size: 40px;
    }

    .about-me-info-container {
        gap: 16px;
    }
}

@media (max-width: 350px) {
    .about-me-section {
        padding-top: 8px;
    }

    .about-me-info-container {
        >p {
            font-size: 14px;
            padding-top: 0px;
        }

        >div {
            gap: 16px;
            >div p {
                font-size: 14px;
            }
        }
    }
}