<!-- <div class="about-me-section">
    <div class="about-me-info-container">
        <h1>About me</h1>
        <p>Write some information about yourself that is IT related. Why are you passionate about coding? What is your
            source of inspiration for improving your programming skills?</p>
        <div>
            <div>
                <div class="images-container">
                    <img src="assets/img/aboutme/location.png" alt="">
                </div>
                
                <p>Where are you located? Are you open to different ways of working, such as working remotely or even
                    relocating?
                </p>
            </div>
            <div>
                <div class="images-container">
                    <img src="assets/img/aboutme/mind.png" alt="">
                </div>
                <p>Show that you are open-minded. Are you enthusiastic about learning new technologies and continually
                    improving your skills?</p>
            </div>
            <div>
                <div class="images-container">
                    <img src="assets/img/aboutme/solution.png" alt="">
                </div>
                <p>A brief description of your problem-solving approach. Do you learn from each challenge as you search
                    for the most efficient or elegant solution? You can include some keywords like: analytical thinking,
                    creativity, persistence and collaboration.
                </p>
            </div>
        </div>
    </div>

    <div class="selfie-container">
        <div class="selfie">
            <img class="selfie-img" src="assets/img/aboutme/me.png" alt="">
             <div class="green-circle">
             </div>
        </div>
        <div class="green-line"></div>
    </div>
    <img class="shadow" src="assets/img/aboutme/shadow.png" alt="">
</div> -->

<div class="about-me-section">
    <div class="about-me-info-container">
      <h1>{{ 'NAV.ABOUT' | translate }}</h1>
  
      <p>{{ 'ABOUTME.DESCRIPTION' | translate }}</p>
  
      <div>
        <div>
          <div class="images-container">
            <img src="assets/img/aboutme/location.png" alt="">
          </div>
          <p>{{ 'ABOUTME.LOCATION' | translate }}</p>
        </div>
  
        <div>
          <div class="images-container">
            <img src="assets/img/aboutme/mind.png" alt="">
          </div>
          <p>{{ 'ABOUTME.LEARNING' | translate }}</p>
        </div>
  
        <div>
          <div class="images-container">
            <img src="assets/img/aboutme/solution.png" alt="">
          </div>
          <p>{{ 'ABOUTME.SOLUTIONS' | translate }}</p>
        </div>
      </div>
    </div>
  
    <div class="selfie-container">
      <div class="selfie">
        <img class="selfie-img" src="assets/img/aboutme/me.png" alt="">
        <div class="green-circle"></div>
      </div>
      <div class="green-line"></div>
    </div>
  
    <img class="shadow" src="assets/img/aboutme/shadow.png" alt="">
  </div>
  