.hero-section {
    margin-top: 109px;
    height: calc(100vh - 109px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    max-width: 1920px;
    width: 100%;
}

.portrait {
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 56px;

    >img {
        height: 100%;
        width: auto;
        object-fit: contain;
        position: absolute;
    }
}

.shadow {
    top: 8vh;
    left: -24px;
    transform: scale(1.2);
}

.person {
    left: 0;
}

.hero-top-right {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-right: 96px;
    margin-top: -128px;
}

.name-section {
    display: flex;
}

.i-am {
    font-size: 64px;
    transform: rotate(-90deg) translateY(35%);
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 90px;
    font-weight: 700;
    line-height: 120%
}

.profession {
    font-size: 58px;
    color: #9747FF;
    line-height: 120%;
}

button {
    width: 165px;
    height: 59px;
    background-color: #70E61C;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 23px;
    transition: all 300ms ease-out;

    &:hover {
        transform: scale(1.1);
        background-color: #9747FF;
        cursor: pointer;
    }
}

.hero-bottom {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-bottom-name {
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: -128px;
}

.bottom-content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-right: 100px;
    z-index: 3;
}

.bottom-left {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 23px;

    >img {
        width: 30px;

        &:hover {
            transition: all 250ms ease-out;
            transform: scale(1.3);
            cursor: pointer;
        }
    }

    >p {
        cursor: pointer;
    }
}

.purple-line {
    border: 2px solid #9747FF;
    width: 100px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.bottom-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23px;
    gap: 8px;
    transform: rotate(90deg);
    transform-origin: right;


    >p {
        white-space: nowrap;
    }
}

.background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65vh;
    width: 100vw;
}

.padding-reset {
    padding-right: 0px !important;
    margin-left: 0px;
}