.contact-section {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 88px;
    position: relative;
    overflow: hidden;
}

.contact-headline {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    padding-bottom: 48px;

    >h2 {
        color: white;
        font-size: 90px;
        font-weight: 700;
        line-height: 120%;
    }
}

.purple-line {
    border: 2px solid rgb(151, 71, 255);
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.transparent-line {
    border: 2px solid transparent;
    width: 100%;
}

.contact-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    padding: 0 88px;
    z-index: 2;
}

.contact-description {
    max-width: 474px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    >p {
        color: white;
        line-height: 120%;

        >span {
            font-weight: 700;
        }
    }
}

.description-top-line {
    font-weight: 700;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 617px;
    width: 100%;
    gap: 32px;

    >button {
        box-shadow: 4px 4px 4px 0px #00000040;
        background-color: #B6B6B6;
        padding: 15px 30px;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 23px;
    }

    button.ready {
        background-color: #70E61C;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: #9747FF;
            transform: scale(1.05);
        }
    }
}

.form-group {
    width: 100%;

    >input {
        width: 100%;
        background-color: #141D2F;
        border: 1px solid #9747FF;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        padding: 15px 25px;
    }

    >input::placeholder {
        color: white;
        opacity: 1;
        font-size: 16px;
    }

    >input:hover {
        border-color: #70E61C;
    }

    >input:focus {
        outline: #9747FF;
    }
}

.textarea-container {
    position: relative;
    width: 100%;

    >textarea {
        position: relative;
        width: 100%;
        height: 202px;
        background-color: transparent;
        border: 1px solid #9747FF;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        padding: 15px 25px;
        resize: vertical;
        overflow: auto;
    }

    textarea::-webkit-resizer {
        background-color: transparent;
    }

    >textarea::placeholder {
        color: white;
        opacity: 1;
        font-size: 16px;
    }

    >textarea:focus {
        outline: #9747FF;
    }

    >textarea:hover {
        border-color: #70E61C;
    }

    >img {
        position: absolute;
        bottom: 14px;
        right: 6px;
    }
}

.privacy-policy-checking {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 16px;
    width: 100%;
    gap: 8px;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-size: 14px;
        gap: 4px;

        >p {

            >a {
                color: #9747FF;
                text-decoration: none;
            }
        }
    }
}

.privacy-policy-checking input[type="checkbox"] {
    appearance: none;
    width: 100%;
    max-width: 18px;
    height: 18px;
    border: 2px solid #70E61C;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.privacy-policy-checking input[type="checkbox"]:checked::after {
    content: '✔';
    color: #70E61C;
    position: absolute;
    left: 1px;
    top: -5px;
    font-size: 16px;
}

.scroll-up-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 16px;

    >img {
        border: 2px solid #FFFFFF;
        border-radius: 41px;
        padding: 3px;
        transition: filter 0.15s;
        margin-right: 8px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(72%) sepia(93%) saturate(374%) hue-rotate(54deg) brightness(93%) contrast(89%);
            cursor: pointer;
        }
    }
}

.shadow {
    position: absolute;
    bottom: -436px;
    left: -416px;
}

input.invalid,
textarea.invalid {
    border-color: #e74c3c !important;
    outline: none;
}

.error {
    color: #e74c3c;
    font-size: 0.85rem;
    margin-top: 4px;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #141D2F inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-out, color 9999s ease-out;
}