<div class="contact-section">
    <div class="contact-headline">
        <div class="purple-line"></div>
        <h2>Contact</h2>
        <div class="transparent-line"></div>
    </div>

    <div class="contact-bottom">
        <div class="contact-description">
            <p class="description-top-line">Got a problem to solve?</p>
            <p>Encourage people to contact you and describe what role you are interested in. Show that you will add
                value to their projects through your work.</p>
            <div>
                <p>Need a Frontend developer?</p>
                <span>Contact me!</span>
            </div>

        </div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <input name="name" placeholder="Your name" ngModel required />

            <input name="email" placeholder="Your email" ngModel email />

            <div class="textarea-container">
                <textarea name="message" placeholder="Your message" ngModel required>
                </textarea>
                <img src="assets/img/resize.png" alt="">
            </div>
            <div class="privacy-policy-checking">
                <input type="checkbox" name="privacy" ngModel required />
                <div>
                    <p>I've read the</p>
                    <a href="">privacy policy</a>
                    <p>and agree to the processing of my data as outlined.</p>
                </div>
            </div>

            <button type="submit">Send message :)</button>
        </form>
    </div>
</div>