@media (max-width: 1380px) {
    .contact-bottom {
        padding: 0 64px;
    }
}

@media (max-width: 1070px) {
    .contact-headline {

        >h2 {
            font-size: 72px;
        }
    }

    .contact-bottom {
        padding: 0px 48px;
    }
}

@media (max-width: 900px) {
    .description-top-line {
        font-size: 26px;
    }
}

@media (max-width: 790px) {
    .contact-bottom {
        padding: 0px 32px;
    }

    .contact-section {
        padding-bottom: 64px;
    }

    .contact-bottom {
        flex-direction: column;
        align-items: center;
    }

    .contact-description {
        text-align: center;
    }

    .shadow {
        width: 640px;
        left: -291px;
        bottom: -272px;
    }
}

@media (max-width: 430px) {
    .contact-section {
        padding-bottom: 48px;
    }

    .contact-headline {
        justify-content: flex-start;
        gap: 4px;
        padding-bottom: 32px;

        >h2 {
            font-size: 45px;
        }
    }

    .purple-line {
        width: 20px;
    }

    .transparent-line {
        display: none;
    }

    .contact-description {
        text-align: left;
        gap: 20px;
    }

    .contact-bottom {
        padding: 0px 24px;
        gap: 32px;
    }

    .description-top-line {
        font-size: 23px;
    }

    .form-group-textarea {
        min-height: 188px;
    }

    .textarea-container {

        >textarea {
            height: 162px;
        }
    }

    .form-submit-section {

        >button {
            font-size: 16px;
            display: flex;
            align-items: center;
            height: 49px;
        }
    }

    .form-group {
        min-height: 79px;
    }

    .input-wrapper {

        >input {
            height: 48px;
        }
    }
}

@media (max-width: 380px) {
    .contact-bottom {
        padding: 0px 20px;
    }

    .purple-line {
        width: 16px;
    }
}