.portfolio-section {
    max-width: 1920px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.portfolio-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    color: white;
}

.section-description {
    margin-top: 40px;
    color: white;
    line-height: 120%;
    text-align: center;
}

.purple-line-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.purple-line-short {
    border: 2px solid rgb(151, 71, 255);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 100px;
}

.purple-line-long {
    border: 2px solid rgb(151, 71, 255);
    width: 100%;
}

.projects-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 120px;
}

.shadow {
    position: absolute;
    left: -264px;
    top: 30%;
}

.project {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.laptop-container {
    width: 620px;
    height: 339px;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        height: 412px;
    }
}

.mobile {
    display: none;
}

.desktop {
    display: flex;
}

.project-description {
    max-width: 513px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    margin-top: 8px;

    >h3 {
        color: #9747FF;
        font-weight: 700;
        font-size: 32px;
    }

    >span {
        color: #70E61C;
        font-size: 23px;
        line-height: 120%;
    }

    >p {
        line-height: 120%;
    }

    >div {
        display: flex;
        flex-direction: row;
        gap: 86px;
        margin-top: 16px;
    }
}

.project-description-to-right {
    max-width: 513px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    text-align: end;

    >h3 {
        color: #9747FF;
        font-weight: 700;
        font-size: 32px;
    }

    >span {
        color: #70E61C;
        font-size: 23px;
        line-height: 120%;
    }

    >p {
        line-height: 120%;
    }

    >div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 86px;
        margin-top: 20px;
    }
}

.live-test-btn {
    background-color: #9747FF;
    color: white;
    font-size: 23px;
    line-height: 120%;
    border: none;
    border-radius: 10px;
    width: 152px;
    height: 58px;

    &:hover {
        cursor: pointer;
        background-color: #70E61C;
    }
}

.github-btn {
    background-color: transparent;
    color: white;
    font-size: 23px;
    line-height: 120%;
    border: 1px solid #70E61C;
    border-radius: 10px;
    width: 152px;
    height: 58px;

    &:hover {
        cursor: pointer;
        background-color: #70E61C;
    }
}

@media (max-width: 1288px) {
    .laptop-container {
        width: 424px;

        >img {
            height: 356px;
        }
    }
}

@media (max-width: 1070px) {
    h2 {
        font-size: 72px;
    }
}

@media (max-width: 1020px) {
    .projects-container {
        padding-top: 0px;
    }

    .project {
        flex-direction: column;
        gap: 0;
    }

    .project-description {
        align-items: center;
        text-align: center;
    }

    .project-description-to-right {
        align-items: center;
        text-align: center;
    }

    .laptop-container {
        height: unset;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .shadow {
        left: -172px;
        width: 568px;
    }
}

@media (max-width: 765px) {
    .section-description {
        padding: 0px 24px;
        text-align: center;
    }
}

@media (max-width: 730px) {
    .portfolio-headline {
        gap: 24px;
    }

    .purple-line-short {
        width: 64px;
    }
}

@media (max-width: 550px) {
    .purple-line-short {
        width: 48px;
    }

    .laptop-container {
        width: unset;

        >img {
            height: 280px;
        }
    }

    .project-description {
        padding: 0px 24px;

        >div {
            gap: 10px;
            width: 100%;
            justify-content: space-between;
        }
    }

    .project-description-to-right {
        padding: 0px 24px;

        >div {
            gap: 10px;
            width: 100%;
            justify-content: space-between;
        }
    }

    .shadow {
        width: 348px;
        left: 40px;
        top: 26%;
    }
}

@media (max-width: 430px) {
    h2 {
        font-size: 45px;
    }

    .portfolio-section {
        padding-top: 72px;
    }

    :host {
        scroll-margin-top: 64px;
    }
}

@media (max-width: 373px) {
    :host {
        scroll-margin-top: 40px;
    }

    .section-description {
        margin-top: 24px;
    }

    .laptop-container {

        >img {
            height: 256px;
        }
    }

    .project-description {
        margin-top: 0px;
    }

    .live-test-btn {
        width: 128px;
        font-size: 19px;
    }

    .github-btn {
        width: 128px;
        font-size: 19px;
    }
}