<div class="portfolio-section">
    <div class="portfolio-headline">
        <div class="purple-line-left">
            <div class=""></div>
            <div class="purple-line-short"></div>
        </div>
        <h2>Portfolio</h2>
        <div class="purple-line-long"></div>
    </div>
    <p class="section-description">Explore a selection of my work here - Interact with projects to see my skills in
        action.</p>
    <div class="projects-container">
        <div class="project">
            <img src="assets/img/portfolio/el_pollo_loco.png" alt="">
            <div class="project-description">
                <h3>El Pollo Loco</h3>

                <span>JavaScript | HTML | CSS</span>

                <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa
                    bottles to fight against the killer chicken.</p>

                <div>
                    <button>Live test</button>
                    <button>Github</button>
                </div>
            </div>
        </div>

        <div class="project">
            <img src="assets/img/portfolio/join.png" alt="">

            <div class="project-description">
                <h3>El Pollo Loco</h3>

                <span>JavaScript | HTML | CSS</span>

                <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa
                    bottles to fight against the killer chicken.</p>

                <div>
                    <button>Live test</button>
                    <button>Github</button>
                </div>
            </div>
        </div>

        <div class="project">
            <img src="assets/img/portfolio/pokedex.png" alt="">

            <div class="project-description">
                <h3>El Pollo Loco</h3>

                <span>JavaScript | HTML | CSS</span>

                <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa
                    bottles to
                    fight against the killer chicken.</p>

                <div>
                    <button>Live test</button>
                    <button>Github</button>
                </div>
            </div>
        </div>
    </div>
</div>