<app-navbar></app-navbar>
<div class="privacy-policy-container">
    <div class="privacy-policy-section">
        <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
        <h2>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.TITLE' | translate }}</h2>

        <h3>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.GENERAL_INFO_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.GENERAL_INFO_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.DATA_COLLECTION_TITLE' | translate }}</h3>

        <h4>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.RESPONSIBLE_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.RESPONSIBLE_TEXT' | translate }}</p>

        <h4>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.HOW_WE_COLLECT_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.HOW_WE_COLLECT_TEXT_1' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.HOW_WE_COLLECT_TEXT_2' | translate }}</p>

        <h4>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.WHY_WE_USE_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.WHY_WE_USE_TEXT' | translate }}</p>

        <h4>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.YOUR_RIGHTS_TITLE' | translate }}</h4>
        <p>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.YOUR_RIGHTS_TEXT_1' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.PRIVACY_GLANCE.YOUR_RIGHTS_TEXT_2' | translate }}</p>



        <h2>{{ 'PRIVACY_POLICY.HOSTING.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.HOSTING.INTRO_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.HOSTING.PROVIDER_NAME' | translate }}</h3>
        <p>
            {{ 'PRIVACY_POLICY.HOSTING.PROVIDER_INFO' | translate }}
            <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">
                https://all-inkl.com/datenschutzinformationen/
            </a>.
        </p>

        <p>{{ 'PRIVACY_POLICY.HOSTING.LEGAL_BASIS' | translate }}</p>



        <h2>{{ 'PRIVACY_POLICY.GENERAL_INFO.TITLE' | translate }}</h2>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.DATA_PROTECTION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.DATA_PROTECTION_TEXT_1' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.DATA_PROTECTION_TEXT_2' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.DATA_PROTECTION_TEXT_3' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.CONTROLLER_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.CONTROLLER_DESCRIPTION' | translate }}</p>
        <div>
            <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.CONTROLLER_NAME' | translate }}</p>
            <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.CONTROLLER_ADDRESS' | translate }}</p>
        </div>
        <div>
            <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.CONTROLLER_PHONE' | translate }}</p>
            <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.CONTROLLER_EMAIL' | translate }}</p>
        </div>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.CONTROLLER_EXPLANATION' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.STORAGE_DURATION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.STORAGE_DURATION_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.LEGAL_BASES_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.LEGAL_BASES_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.RECIPIENTS_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.RECIPIENTS_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.WITHDRAW_CONSENT_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.WITHDRAW_CONSENT_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.OBJECTION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.OBJECTION_TEXT_1' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.OBJECTION_TEXT_2' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.COMPLAINT_RIGHT_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.COMPLAINT_RIGHT_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.DATA_PORTABILITY_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.DATA_PORTABILITY_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.ACCESS_CORRECTION_DELETION_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.ACCESS_CORRECTION_DELETION_TEXT' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.RESTRICTION_RIGHT_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.RESTRICTION_RIGHT_TEXT' | translate }}</p>
        <ul>
            <li>{{ 'PRIVACY_POLICY.GENERAL_INFO.RESTRICTION_CASE_1' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.GENERAL_INFO.RESTRICTION_CASE_2' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.GENERAL_INFO.RESTRICTION_CASE_3' | translate }}</li>
            <li>{{ 'PRIVACY_POLICY.GENERAL_INFO.RESTRICTION_CASE_4' | translate }}</li>
        </ul>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.RESTRICTION_FOOTER' | translate }}</p>

        <h3>{{ 'PRIVACY_POLICY.GENERAL_INFO.SSL_TITLE' | translate }}</h3>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.SSL_TEXT_1' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.GENERAL_INFO.SSL_TEXT_2' | translate }}</p>


        <h2>{{ 'PRIVACY_POLICY.DATA_COLLECTION.TITLE' | translate }}</h2>

        <h3>{{ 'PRIVACY_POLICY.DATA_COLLECTION.CONTACT_FORM_TITLE' | translate }}</h3>

        <p>{{ 'PRIVACY_POLICY.DATA_COLLECTION.CONTACT_FORM_TEXT_1' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.DATA_COLLECTION.CONTACT_FORM_TEXT_2' | translate }}</p>
        <p>{{ 'PRIVACY_POLICY.DATA_COLLECTION.CONTACT_FORM_TEXT_3' | translate }}</p>



        <h2>{{ 'PRIVACY_POLICY.PLUGINS_TOOLS.TITLE' | translate }}</h2>

        <h3>{{ 'PRIVACY_POLICY.PLUGINS_TOOLS.GOOGLE_FONTS_TITLE' | translate }}</h3>

        <p [innerHTML]="'PRIVACY_POLICY.PLUGINS_TOOLS.GOOGLE_FONTS_TEXT_1' | translate"></p>
        <p [innerHTML]="'PRIVACY_POLICY.PLUGINS_TOOLS.GOOGLE_FONTS_TEXT_2' | translate"></p>
        <p [innerHTML]="'PRIVACY_POLICY.PLUGINS_TOOLS.SOURCE' | translate"></p>
    </div>
</div>
<app-footer></app-footer>