.skills-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    padding-top: 168px;
    padding-bottom: 48px;
    gap: 32px;
}

.skills-container {
    position: relative;
    max-width: 664px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px 88px;
    margin-left: 100px;
}

.moved-skills {
    display: none;
}

.skill {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 88px;
    padding-top: 12px;

    >img {
        transition: transform 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: translateY(-10px);
        }
    }

    >span {
        color: white;
        font-weight: 700;
        line-height: 120%;
    }
}

.skill-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 700;
    line-height: 120%;
}

.skill-learning {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 88px;
    padding-top: 12px;

    &:hover {
        >img {
            transition: filter 0.3s ease;
            cursor: pointer;
            filter: brightness(0) invert(1);
        }

        >div {
            transition: filter 0.3s ease;
            cursor: pointer;
            filter: brightness(0) invert(1);
        }

        >mat-dialog-content {
            transition: opacity 0.5s ease, visibility 0.3s ease;
            opacity: 1;
            visibility: visible;
        }
    }
}

.skill-learning-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9747FF;
    font-weight: 700;
    line-height: 120%;
}

mat-dialog-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -120px;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    width: 196px;
    height: 128px;
    border-radius: 20px;

    >p {
        color: black;
        padding: 0px 16px;
    }

    >div {
        display: flex;
        flex-direction: row;
        gap: 16px;

        >div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            >p {
                color: black;
                font-weight: 700;
            }

            >.vector {
                position: absolute;
                bottom: -27px;
                left: -4px;
            }
        }
    }
}

.shadow {
    position: absolute;
    left: -648px;
    bottom: -712px;
}

.shadow-mobile {
    display: none;
    position: absolute;
    left: -632px;
    bottom: -560px;
}

.desription-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.description-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

h2 {
    color: white;
    font-size: 90px;
    line-height: 100%;
}

.purple-line {
    border: 2px solid rgb(151, 71, 255);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 68px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    max-width: 670px;
    width: 100%;
    gap: 24px;
    padding-right: 100px;
}

.first-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p {
    color: white;
    line-height: 120%;
}

.looking-section {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    gap: 8px;

    >div {
        display: flex;
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 58px;
    border-radius: 10px;
    border: none;
    background-color: rgba(112, 230, 28, 1);
    color: white;
    font-size: 23px;
    padding: 15px 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-out;
    margin-top: 16px;

    &:hover {
        transform: scale(1.1);
        background-color: #9747FF;
        cursor: pointer;
    }
}

// :host {
//   scroll-margin-top: 80px;
// }

@media (max-width: 1400px) {
    .skills-section {
        gap: 64px;
    }

    .skills-container {
        max-width: 440px;
        margin-left: 80px;
    }
}

@media (max-width: 1130px) {
    .description-header {
        gap: 16px;
    }

    .description {
        padding-right: 72px;
    }

    .purple-line {
        width: 48px;
    }

    .looking-section {
        font-size: 24px;
    }

    .skills-container {
        gap: 32px 64px;
        justify-content: center;
        margin-left: 40px;
    }

    .skills-section {
        gap: 40px;
    }
}

@media (max-width: 1070px) {
    h2 {
        font-size: 72px;
    }
}

@media (max-width: 1023px) {
    .skills-section {
        justify-content: flex-end;
    }

    .purple-line {
        width: 32px;
    }

    .skills-container {
        display: none;
    }

    .moved-skills {
        display: flex !important;
        justify-content: flex-start;
        max-width: 544px;
        margin-left: 0px;
    }

    .shadow {
        display: none;
    }

    .shadow-mobile {
        display: block;
    }

    .desription-container {
        position: relative;
        width: 100%;
        align-items: flex-end;
    }

    .description {
        padding-right: 52px;
    }

    .shadow {
        left: -632px;
        bottom: -648px;
    }
}