<div class="skills-section">
    <div class="skills-container">
        <div class="skill" *ngFor="let skill of skills">
            <img [src]="'assets/img/myskills/' + skill.imagePath" [alt]="skill.text" />
            <span>{{ skill.text }}</span>
        </div>
        <div class="skill">
            <img src="assets/img/myskills/materialdesign.png" alt="">
            <div class="skill-text-container">
                <span>Material</span>
                <span>Design</span>
            </div>
        </div>
        <div class="skill-learning">
            <img src="assets/img/myskills/learning.svg" alt="">
            <div class="skill-learning-text-container">
                <span>{{ 'MYSKILLS.CONTINUALLY' | translate }}</span>
                <span>{{ 'MYSKILLS.LEARNING' | translate }}</span>
            </div>
            <mat-dialog-content>
                <p>{{ 'MYSKILLS.INTEREST' | translate }}</p>
                <div>
                    <div>
                        <img src="assets/img/myskills/react.png" alt="">
                        <p>React</p>
                        <img class="vector" src="assets/img/myskills/vector_dialog.png" alt="">
                    </div>
                    <div>
                        <img src="assets/img/myskills/vue_js.png" alt="">
                        <p>Vue Js</p>
                    </div>
                </div>
            </mat-dialog-content>
        </div>
        <img class="shadow" src="assets/img/myskills/shadow.png" alt="">
    </div>

    <div class="desription-container">
        <div class="description-header">
            <h2>{{ 'MYSKILLS.HEADLINE' | translate }}</h2>
            <div class="purple-line"></div>
        </div>
        <div class="description">
            <div class="first-description">
                <p>{{ 'MYSKILLS.DESCRIPTION' | translate }}</p>
                <p>{{ 'MYSKILLS.DESCRIPTION_SKILLS' | translate }}</p>
            </div>
            <div class="looking-section">
                <p>{{ 'MYSKILLS.LOOKING' | translate }}</p>
                <div>
                    <p style="color: #9747FF">{{ 'MYSKILLS.ANOTHER' | translate }}</p>
                    <p>?</p>
                </div>
            </div>
            <div>
                <p>{{ 'MYSKILLS.LEARNING_SKILLS' | translate }}</p>
            </div>
            <button (click)="scrollToSection('contact')">{{ 'MYSKILLS.BUTTON' | translate }}</button>
        </div>
    </div>

</div>