@media (max-width: 1400px) {
    .skills-section {
        gap: 64px;
    }

    .skills-container {
        max-width: 440px;
        margin-left: 80px;
    }
}

@media (max-width: 1300px) {
    .german-big-title {
        font-size: 72px;
    }

    .german-looking-text {
        font-size: 26px;
    }
}

@media (max-width: 1130px) {
    .description-header {
        gap: 16px;
    }

    .description {
        padding-right: 72px;
    }

    .purple-line {
        width: 48px;
    }

    .looking-container {
        font-size: 28px;
    }

    .german-looking-text {
        font-size: 26px;
    }

    .skills-container {
        gap: 32px 64px;
        justify-content: center;
        margin-left: 40px;
    }

    .skills-section {
        gap: 40px;
    }
}

@media (max-width: 1070px) {
    h2 {
        font-size: 72px;
    }
}

@media (max-width: 1023px) {
    .skills-section {
        justify-content: flex-end;
    }

    .purple-line {
        width: 32px;
    }

    .skills-container {
        display: none;
    }

    .moved-skills {
        display: flex !important;
        justify-content: flex-start;
        max-width: 544px;
        margin-left: 0px;
    }

    .shadow {
        display: none;
    }

    .shadow-mobile {
        display: block;
    }

    .description-container {
        position: relative;
        width: 100%;
        align-items: flex-end;
    }

    .description {
        padding-right: 52px;
    }

    .shadow {
        left: -632px;
        bottom: -648px;
    }
}

@media (max-width: 900px) {
    .skills-section {
        padding-top: 120px;
    }
}

@media (max-width: 710px) {
    .description {
        padding-left: 48px;
    }

    .description-container {
        gap: 32px;
    }
}

@media (max-width: 670px) {
    .moved-skills {
        max-width: 328px;
        justify-content: center;
        gap: 22px 32px;
    }

    .skill {
        gap: 12px;

        >img {
            height: 48px;
        }

        >span {
            font-size: 14px;
        }
    }

    .skill-text-container {
        font-size: 14px;
    }

    .padd-0 {
        padding-top: 0px !important;
    }

    .skill-learning {
        gap: 12px;
        padding-top: 0px;

        >img {
            height: 48px;
        }
    }

    .skill-learning-text-container {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .german-big-title {
        font-size: 56px;
    }

    .german-looking-text {
        font-size: 22px;
    }
}

@media (max-width: 476px) {
    .looking-container {
        font-size: 24px;
        padding-top: 8px;
        gap: 6px;
    }

    .german-looking-text {
        font-size: 22px;
    }

    .purple-line {
        width: 24px;
    }

    .description {
        padding-right: 34px;
        padding-left: 12px;
    }

    .shadow-mobile {
        width: 504px;
        left: -361px;
        bottom: -64px;
    }
}

@media (max-width: 430px) {
    h2 {
        font-size: 45px;
    }

    .description {
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
    }

    .german-big-title {
        font-size: 45px;
    }

    .first-description {
        padding-right: 34px;
        padding-left: 12px;
    }

    .looking-section {
        padding-right: 34px;
        padding-left: 12px;
    }

    mat-dialog-content {
        top: -136px;
        left: -32px;

        .vector {
            bottom: -26px;
            left: 23px !important;
        }
    }

    .german-vector-bottom {
        bottom: -17px !important;
    }
}

@media (max-width: 424px) {
    .german-looking-text {
        font-size: 20px;
        gap: 6px;
    }
}

@media (max-width: 390px) {
    .purple-line {
        width: 20px;
    }

    .first-description {
        padding-right: 30px;
        padding-left: 12px;
    }

    .looking-section {
        padding-right: 30px;
        padding-left: 8px;
    }

    .german-looking-text {
        font-size: 19px;
    }

    button {
        width: 158px;
        height: 49px;
        font-size: 16px;
        padding: 0;
    }
}

@media (max-width: 375px) {
    .german-looking-text {
        font-size: 18px;
    }
}

@media (max-width: 370px) {
    .german-big-title {
        font-size: 40px;
    }

    .first-description {
        padding-right: 20px;
    }

    .looking-section {
        padding-right: 20px;
    }

    .looking-container {
        font-size: 21px;
    }

    .german-looking-text {
        font-size: 17px;
    }

    .skill {
        width: 70px;
    }

    .skill-learning {
        width: 70px;
    }

    mat-dialog-content {
        left: -96px;

        .vector {
            left: 80px !important;
        }
    }

    .german-vector-bottom {
        bottom: -17px !important;
    }
}