<div class="skills-section">
  <div class="skills-container">
    <div
      class="skill"
      *ngFor="let skill of skills; let i = index"
      [attr.data-aos]="'fade-up'"
      [attr.data-aos-delay]="i * 100"
    >
      <img [src]="'assets/img/myskills/' + skill.imagePath" [alt]="skill.text" />
      <span>{{ skill.text }}</span>
    </div>

    <div class="skill" data-aos="fade-up" data-aos-delay="600">
      <img src="assets/img/myskills/materialdesign.png" alt="">
      <div class="skill-text-container">
        <span>Material</span>
        <span>Design</span>
      </div>
    </div>

    <div class="skill-learning" data-aos="zoom-in" data-aos-delay="700">
      <img src="assets/img/myskills/learning.svg" alt="">
      <div class="skill-learning-text-container">
        <span>{{ 'MYSKILLS.CONTINUALLY' | translate }}</span>
        <span>{{ 'MYSKILLS.LEARNING' | translate }}</span>
      </div>
      <mat-dialog-content>
        <p>{{ 'MYSKILLS.INTEREST' | translate }}</p>
        <div>
          <div>
            <img src="assets/img/myskills/react.png" alt="">
            <p>React</p>
            <img [class.german-vector-bottom]="translate.currentLang === 'de'" class="vector" src="assets/img/myskills/vector_dialog.png" alt="">
          </div>
          <div>
            <img src="assets/img/myskills/vue_js.png" alt="">
            <p>Vue Js</p>
          </div>
        </div>
      </mat-dialog-content>
    </div>

    <img class="shadow" src="assets/img/myskills/shadow.png" alt="">
  </div>

  <div class="description-container" data-aos="fade-left" data-aos-delay="300">
    <div class="description-header">
      <h2 [class.german-big-title]="translate.currentLang === 'de'">{{ 'MYSKILLS.HEADLINE' | translate }}</h2>
      <div class="purple-line"></div>
    </div>

    <div class="description">
      <div class="first-description" data-aos="fade-up" data-aos-delay="400">
        <p>{{ 'MYSKILLS.DESCRIPTION' | translate }}</p>
        <p>{{ 'MYSKILLS.DESCRIPTION_SKILLS' | translate }}</p>
      </div>

      <div class="skills-container moved-skills">
        <div
          class="skill"
          *ngFor="let skill of skills; let i = index"
          [attr.data-aos]="'fade-up'"
          [attr.data-aos-delay]="i * 100 + 500"
        >
          <img [src]="'assets/img/myskills/' + skill.imagePath" [alt]="skill.text" />
          <span>{{ skill.text }}</span>
        </div>

        <div class="skill padd-0" data-aos="fade-up" data-aos-delay="1000">
          <img src="assets/img/myskills/materialdesign.png" alt="">
          <div class="skill-text-container">
            <span>Material</span>
            <span>Design</span>
          </div>
        </div>

        <div class="skill-learning" data-aos="zoom-in-up" data-aos-delay="1100">
          <img src="assets/img/myskills/learning.svg" alt="">
          <div class="skill-learning-text-container">
            <span>{{ 'MYSKILLS.CONTINUALLY' | translate }}</span>
            <span>{{ 'MYSKILLS.LEARNING' | translate }}</span>
          </div>
          <mat-dialog-content>
            <p>{{ 'MYSKILLS.INTEREST' | translate }}</p>
            <div>
              <div>
                <img src="assets/img/myskills/react.png" alt="">
                <p>React</p>
                <img [class.german-vector-bottom]="translate.currentLang === 'de'" class="vector" src="assets/img/myskills/vector_dialog.png" alt="">
              </div>
              <div>
                <img src="assets/img/myskills/vue_js.png" alt="">
                <p>Vue Js</p>
              </div>
            </div>
          </mat-dialog-content>
        </div>
      </div>

      <div class="looking-section" data-aos="flip-up" data-aos-delay="1200">
        <div class="looking-container" [class.german-looking-text]="translate.currentLang === 'de'">
          <p>{{ 'MYSKILLS.LOOKING' | translate }}</p>
          <div>
            <p style="color: #9747FF">{{ 'MYSKILLS.ANOTHER' | translate }}</p>
            <p>?</p>
          </div>
        </div>
        <div>
          <p>{{ 'MYSKILLS.LEARNING_SKILLS' | translate }}</p>
        </div>
      </div>

      <button
        (click)="scrollToSection('contact')"
        data-aos="fade-up"
        data-aos-delay="1300"
      >
        {{ 'MYSKILLS.BUTTON' | translate }}
      </button>
    </div>

    <img class="shadow-mobile" src="assets/img/myskills/shadow.png" alt="">
  </div>
</div>