<div class="reviews-section">
    <div class="reviews-section-top">
        <div class="review-container">
            <img src="assets/img/reviews/quotation_marks.png" alt="">

            <p>{{ reviews[currentIndex].text }}</p>

            <div class="reviewer-name">
                <div class="purple-line"></div>
                <p>{{ reviews[currentIndex].name }}</p>
            </div>
        </div>

        <div class="reviewer-container">
            <div class="purple-circle">
                <img [attr.style]="reviews[currentIndex].style"  src="assets/img/reviews/{{ reviews[currentIndex].image }}" alt="">
            </div>

            <div class="purple-line-short"></div>

            <img class="shadow" src="assets/img/reviews/shadow.png" alt="">
        </div>
    </div>

    <div class="reviews-section-bottom">
        <div>
            <img src="assets/img/reviews/arrow_back.png" alt="" (click)="previousReview()">
            
            <div *ngFor="let review of reviews; let i = index">
                <div 
                  class="purple-point" 
                  [ngStyle]="{ 'background-color': currentIndex === i ? '#70E61C' : '#9747FF' }">
                </div>
            </div>

            <img src="assets/img/reviews/arrow_forward.png" alt="" (click)="nextReview()">
        </div>

    </div>
</div>