.reviews-section {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 120px;
}

.reviews-section-top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 48px;
}

.review-container {
    max-width: 850px;
    width: 100%;
    height: 272px;
    border: 4px solid #70E61C;
    border-radius: 32px;
    position: relative;
    padding: 48px 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >img {
        position: absolute;
        top: -36px;
        left: -67px;
    }

    >p {
        font-size: 20px;
        line-height: 120%;
        color: white;
        font-family: 'Montserrat';
    }
}

.reviewer-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    >p {
        color: white;
        font-family: 'Montserrat';
        font-size: 18px;
    }
}

.purple-line {
    border: 1px solid rgb(151, 71, 255);
    flex-grow: 1;
}

.reviewer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: relative;
}

.purple-circle {
    width: 272px;
    height: 272px;
    border: 4px solid #9747FF;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    // >img {
    //     position: absolute;
    //     width: 260%;
    //     height: 120%;
    //     object-fit: cover;
    //     transform: rotate(90deg) translateX(20%);
    // }
}

.purple-line-short {
    border: 2px solid rgb(151, 71, 255);
    width: 104px;
    z-index: 1;
}

.shadow {
    position: absolute;
    transform: rotate(80deg);
    top: -560px;
    right: -528px;
}

.reviews-section-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
 

    >div {
        width: 184px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        >img {
            padding: 8px;
            border: 2px solid transparent;
            border-radius: 50%;
            &:hover {
                cursor: pointer;
                border-color: #70E61C;
            }
        }
    }
}

.purple-point {
    width: 8px;
    height: 8px;
    background-color: #9747FF;
    border-radius: 50%;
}